
//coloring
$nutral-white-color :hsl(0, 0%, 98%);
$neutral-Gray :  hsl(0, 0%, 41%);
$neutral-black : hsl(0, 0%, 8%);
//font size and font-family
$font-size-pargraph : 18px;
$font-family: "Epilogue";

@mixin font($family:"Epilogue"){
    
}